<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="pl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Serwis za rogiem</title>
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
    <style>
        errors {
            color: red;
        }
    </style>
</head>
<body id="page-top">

<div id="wrapper">

    <div th:insert="users/fragments/sideBar.html"></div>

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">

            <div th:insert="users/fragments/header.html"></div>

            <div class="container-fluid">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Raport przeglądu</h6>
                                </div>
                                <div class="card-body">

                                    <table class="table table-bordered" id="dataTable">
                                        <thead>
                                        <tr>
                                            <th>Marka</th>
                                            <th>Model</th>
                                            <th>Numer seryjny</th>
                                            <th>Nazwa sklepu</th>
                                            <th>Typ urządzenia</th>
                                            <th>Nazwa sklepu</th>
                                            <th>Typ urządzenia</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td th:text="${deviceToReviewDto.device.mark}"></td>
                                            <td th:text="${deviceToReviewDto.device.model}"></td>
                                            <td th:text="${deviceToReviewDto.device.serialNumber}"></td>
                                            <td th:text="${deviceToReviewDto.device.lastReview}"></td>
                                            <td th:text="${deviceToReviewDto.device.reviewTo}"></td>
                                            <td th:text="${deviceToReviewDto.device.shop.nameShop}"></td>
                                            <td th:text="${deviceToReviewDto.device.typeDevices.type}"></td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <form class="form-horizontal" th:action="@{/deviceToReview/deviceAfterReview}"
                                          method="post"
                                          th:object="${deviceToReviewDto}">

                                        <div class="form-group">
                                            <div class="col-md-8">
                                                <select class="form-control" th:field="*{status.id}">
                                                    <option th:each="status : ${statuses}"
                                                            th:value="${status.id}"
                                                            th:utext="${status.name}"></option>
                                                    <div th:if="${#fields.hasErrors('status')}"
                                                         th:errorclass="errors" th:errors="*{status}"></div>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-8 control-label">Data przeglądu</label>
                                            <div class="col-md-8">
                                                <input class="form-control" name="lastReview"
                                                       placeholder="Data przeglądu" type="date"
                                                       th:field="*{lastReview}">
                                                <div th:if="${#fields.hasErrors('lastReview')}"
                                                     th:errorclass="errors" th:errors="*{lastReview}"></div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-8 control-label">Data ważności</label>
                                            <div class="col-md-8">
                                                <input class="form-control" name="reviewTo"
                                                       placeholder="Data ważności" type="date"
                                                       th:field="*{reviewTo}">
                                                <div th:if="${#fields.hasErrors('reviewTo')}"
                                                     th:errorclass="errors" th:errors="*{reviewTo}"></div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-8">
                                                <label class="col-md-8 control-label">Opis Przeglądu</label>
                                                <textarea th:field="*{descriptionReview}" class="form-control"
                                                          name="descriptionReview" rows="3"
                                                          placeholder="Opis Przeglądu"></textarea>
                                                <div th:if="${#fields.hasErrors('descriptionReview')}"
                                                     th:errorclass="errors" th:errors="*{descriptionReview}"></div>
                                            </div>
                                        </div>

                                        <input type="hidden" th:value="*{idReview}" th:field="*{idReview}"/>
                                        <input type="hidden" th:value="*{device}" th:field="*{device}"/>

                                        <div class="form-group">
                                            <div class="col-md-8">
                                                <button type="submit" class="btn btn-primary">Zatwierdź</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:insert="users/fragments/footer.html"></div>
    </div>

</div>
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
</body>

</html>