<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
    <style>
        errors {
            color: red;
        }
    </style>
</head>

<body class="bg-gradient-primary">

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Ustawanie nowego hasła dla konta </h1><span th:text="${newPassword.email}"></span>
                        </div>

                        <form class="user" th:action="@{/saveNewPassword}" th:object="${newPassword}" method="post">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" class="form-control form-control-user"
                                           th:field="*{password}" placeholder="Hasło" name="password">
                                    <div th:if="${#fields.hasErrors('password')}" th:errorclass="errors"
                                         th:errors="*{password}"></div>
                                </div>


                                <div class="col-sm-6">
                                    <input type="password" class="form-control form-control-user"
                                           th:field="*{matchingPassword}" placeholder="Powtórz hasło"
                                           name="matchingPassword">

                                    <div th:if="${#fields.hasErrors('matchingPassword')}" th:errorclass="errors"
                                         th:errors="*{matchingPassword}"></div>
                                </div>
                                        <input type="hidden" th:field="${newPassword.email}" />
                                <div class="">
                                    <button type="submit" class="btn btn-primary btn-user btn-block ">Ustaw hasło
                                    </button>
                                </div>
                            </div>
                        </form>

                        <hr>
                        <div class="text-center">
                            <a class="small" th:href="@{/login}">Mam już konto, zaloguj!</a>
                        </div>
                        <div class="text-center" th:text="${msg}">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>