<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/device/all}">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3"><\?></div>
        </a>


    <ul class="nav nav-pills">

        <li class="nav-item btn-outline-danger">
            <a class="nav-link" th:href="@{/deviceToReview/myDeviceToReview}">Moje przeglądy</a>
        </li>

        <li class="nav-item btn-outline-danger">
            <a class="nav-link" th:href="@{/deviceToReview/all}">Najbliższe przeglądy</a>
        </li>

        <li class="nav-item btn-outline-danger">
            <a class="nav-link" th:href="@{/deviceToRepair/myDeviceToRepair}">Moje urządzenia do naprawy</a>
        </li>

        <li class="nav-item btn-outline-danger">
            <a class="nav-link" th:href="@{/deviceToRepair/all}">Urządzenia do naprawy</a>
        </li>

        <li class="nav-item btn-outline-danger">
            <a class="nav-link" th:href="@{/device/all}">Urządzenia</a>
        </li>

        <li class="nav-item btn-outline-danger">
            <a class="nav-link" th:href="@{/shop/all}">Lista sklepów</a>
        </li>

       <li class="nav-item btn-outline-danger">
            <a class="nav-link" th:href="@{/owner/all}">Lista właścicieli</a>
        </li>

        <li class="nav-item btn-outline-danger">
            <a class="nav-link" th:href="@{/typeDevice/all}">Lista typów urządzeń</a>
        </li>
    </ul>
</ul>